### Visual Code ###
.vscode/


### System Files ###

# General
.DS_Store


### C ###

# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# EXECUTABLES
*.exe
*.out
# so_long
so_long

# Compile Results
*.cmd
*.tmp
.tmp_versions/
